
<div class="text-center">
    <h1 class="display-4">Soy @Model.nombre</h1>
    <h2>desarrollador full stack especializado en tecnologías .NET y JavaScript</h2>
    <img id="foto" src="~/images/photo_2025-01-06_23-33-52.jpg" alt="Foto Tito Farinas" />
</div>


<div class="row justify-content-center text-center" style="background:#2d3981">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>
            Te doy la bienvenida a mi portfolio
        </h1>
        <p>
            He desarrollado software desde el 2016. He tenido el privilegio de poder realizar proyectos empresariales como Facturación, Contabilidad, Compras, Auditorias, Control de Bienes, Monitoreo de precios; todo esto trabajando principalmente aplicaciones C#/ASP.NET, SQL Server, Oracle, EntityFramework, JavaScript, entre otros.
        </p>
    </div>
</div>